name: Checkout Test

on:
  workflow_dispatch:

jobs:
  checkout-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: ./.github/actions/checkout

      - name: Verify checkout
        run: ls -la
        shell: bash
