name: Manage Remote Service
run-name: Manage Remote Service - ${{ inputs.action }}

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Action to perform'
        required: true
        default: 'restart'
        type: choice
        options:
          - restart
          - start
          - stop

jobs:
  manage-service:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup SSH
        id: setup-ssh
        uses: ./.github/actions/setup-ssh
        with:
          ssh_key: ${{ secrets.SSH_KEY }}
          ssh_host: ${{ secrets.SSH_HOST }}

      - name: Manage service on remote server
        env:
          SSH_KEY: ${{ steps.setup-ssh.outputs.ssh-key-path }}
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
          ACTION: ${{ inputs.action }}
          SERVICE_NAME: ${{ secrets.SERVICE_NAME }}
        run: |
          ssh -i "$SSH_KEY" "$SSH_USER@$SSH_HOST" "sudo systemctl \"$ACTION\" \"$SERVICE_NAME\""
