name: Publish Javadoc

permissions:
  contents: write

on:
  workflow_dispatch:

jobs:
  publish-javadoc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Setup Gradle
        uses: ./.github/actions/setup-gradle

      - name: Set Git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Reset gh-pages branch
        run: |
          git checkout gh-pages
          git reset --hard master

      - name: Generate Javadoc
        run: ./gradlew javadoc

      - name: Copy Javadoc to docs
        run: |
          mkdir -p docs
          rm -rf docs/*
          cp -r build/docs/javadoc/* docs/

      - name: Commit and push Javadoc
        run: |
          git add .
          git commit -m "Update Javadoc" || echo "No changes to commit"
          git push --force origin gh-pages
