name: Release

permissions:
  contents: write

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Build with Gradle
        id: build
        uses: ./.github/actions/build-with-gradle
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}

      - name: Setup SSH
        id: setup-ssh
        uses: ./.github/actions/setup-ssh
        with:
          ssh_key: ${{ secrets.SSH_KEY }}
          ssh_host: ${{ secrets.SSH_HOST }}

      - name: Deploy to remote server
        env:
          SSH_KEY: ${{ steps.setup-ssh.outputs.ssh-key-path}}
          JAR_PATH: ${{ steps.build.outputs.jar-path }}
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
          WORKDIR: ${{ secrets.SSH_WORKING_DIR }}
          JAR_NAME: ${{ steps.build.outputs.jar-name }}
          SERVICE_NAME: ${{ secrets.SERVICE_NAME }}
        run: |
          ssh -i "$SSH_KEY" "$SSH_USER@$SSH_HOST" "rm $WORKDIR/telegram-forwarder-bot-latest.jar || true"
          scp "$JAR_PATH" "$SSH_USER@$SSH_HOST:$WORKDIR"
          ssh -i "$SSH_KEY" "$SSH_USER@$SSH_HOST" "ln --symbolic $WORKDIR/$JAR_NAME $WORKDIR/telegram-forwarder-bot-latest.jar && sudo systemctl restart $SERVICE_NAME"

      - name: Create GitHub release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TITLE: v${{ steps.build.outputs.version }}
          JAR_PATH: ${{ steps.build.outputs.jar-path }}
        run: |
          gh release create "$TITLE" "$JAR_PATH" --title "$TITLE" --generate-notes
